@font-face {
  font-family: "Cavilant";
  src: url("/client/fonts/Cavilant.otf");
}
* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

#body-home {
  background: url("/client/images/fond-tn.png") no-repeat center center fixed;
  background-size: cover;
}

.nav-border {
  border-left: 4px solid #fff;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px 0px;
}

.nav-border-bis {
  border-left: 4px solid transparent;
  padding: 10px 0px;
}

#main-home {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  backdrop-filter: blur(5px);
  height: 90%;
  width: 90%;
  margin-top: 90px !important;
  margin: auto;
}
#main-home .container {
  height: 100%;
  display: flex;
}
#main-home img {
  display: flex;
  padding-top: 20px;
  margin: auto;
}
#main-home .details {
  margin-top: 80px;
}
#main-home .navigation-container {
  background: rgba(255, 255, 255, 0.2);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 300px;
  height: 100%;
}
#main-home .navigation-container-link {
  display: flex;
  padding-left: 55px;
  margin: auto;
  align-items: center;
  margin-top: 15px;
  cursor: pointer;
}
#main-home .navigation-container-link:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
#main-home .navigation-container-link i {
  font-size: 25px;
  color: #fff;
  margin-right: 20px;
}
#main-home .navigation-container-link p {
  color: #fff;
  font-family: "Cavilant";
  font-size: 14px;
}
#main-home .profile-container {
  text-align: center;
  margin-top: 180px;
  margin-bottom: 50px;
}
#main-home .profile-container img {
  width: 70px;
}
#main-home .profile-container p {
  color: white;
  font-family: sans-serif;
  padding-top: 20px;
  font-family: "Cavilant";
}
#main-home .event-container {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 77%;
  padding: 50px;
  display: none;
  gap: 50px;
  flex-wrap: wrap;
  scroll-behavior: smooth;
  overflow-y: scroll;
}
#main-home .event-container-details {
  background: url("/client/images/banner-csgo.jpg");
  background-size: cover;
  box-shadow: 0px 5px 10px 2px #000;
  width: 390px;
  height: 100px;
  padding: 10px;
  display: flex;
  cursor: pointer;
  color: #fff;
  font-family: "Cavilant";
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#main-home .event-container-details div .participant {
  margin-top: 15px;
}
#main-home .event-details {
  font-family: "Cavilant";
  padding: 50px;
  width: 64%;
}
#main-home .event-details h1 {
  color: #fff;
}
#main-home .event-details p {
  color: #fff;
  width: 90%;
  margin-top: 50px;
  font-family: "Courier New", Courier, monospace;
}
#main-home .event-details div {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
#main-home .event-details div span {
  color: #fff;
}
#main-home .event-details .joinEvent {
  background-color: red;
  color: #fff;
  padding: 10px 40px;
  margin-top: 40px;
  cursor: pointer;
  display: flex;
  margin: auto;
  margin-top: 60px;
}

#body-login {
  background: url("/client/images/fond-tn.png") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

#main-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#main-login .container-connexion {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 55%, rgba(57, 57, 57, 0.8) 80%, rgba(122, 122, 122, 0.8) 100%);
  backdrop-filter: blur(5px);
  height: 450px;
  width: 300px;
  padding: 100px;
}
#main-login .container-connexion .span-login {
  color: #fff;
  font-family: "Cavilant";
  font-size: 20px;
  border-bottom: 2px solid red;
  padding-bottom: 5px;
}
#main-login .container-connexion form {
  margin-top: 80px;
  font-size: 14px;
}
#main-login .container-connexion form div {
  display: flex;
  flex-direction: column;
}
#main-login .container-connexion form div label {
  margin-bottom: 5px;
  font-family: sans-serif;
  letter-spacing: 2px;
  color: gray;
}
#main-login .container-connexion form div input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 16px;
  height: 30px;
}
#main-login .container-connexion form div input:focus-visible {
  outline: none;
}
#main-login .container-connexion form .password-input {
  margin-top: 60px;
}
#main-login .container-connexion form button {
  background-color: red;
  color: #fff;
  font-family: "Cavilant";
  border: none;
  width: 100%;
  height: 60px;
  margin-top: 100px;
  cursor: pointer;
}
#main-login .container-connexion form .span-forget {
  font-family: sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  cursor: pointer;
}

.admin-container {
  padding: 50px;
  width: 77%;
}
.admin-container h1 {
  font-family: "Cavilant";
  color: #fff;
  font-size: 20px;
}
.admin-container-event {
  margin-top: 50px;
}
.admin-container .event-admin-container {
  margin-top: 50px;
}

.setting-container-modify {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 77%;
  margin: auto;
  margin-top: 0;
  color: #fff;
  font-family: "Cavilant";
}
.setting-container-modify .error-confirm {
  margin-top: 20px;
}
.setting-container-modify .modifySettings, .setting-container-modify .CancelButton, .setting-container-modify .ValidateSettings {
  background-color: red;
  color: #fff;
  padding: 10px 40px;
  margin-top: 40px;
  cursor: pointer;
}
.setting-container-modify img {
  width: 130px;
  margin: inherit !important;
  margin-top: 50px !important;
}
.setting-container-modify .pseudoSetting {
  font-size: 20px;
  margin-top: 30px;
}
.setting-container-modify .setting-container-details {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-top: 50px;
}
.setting-container-modify .setting-container-details #modifyButtons {
  display: flex;
  justify-content: center;
}
.setting-container-modify .setting-container-details label {
  margin-right: 10px;
  font-family: sans-serif;
  letter-spacing: 2px;
  color: gray;
}
.setting-container-modify .setting-container-details input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 16px;
  height: 30px;
  padding-left: 5px;
}
.setting-container-modify .setting-container-details input:focus-visible {
  outline: none;
}
.setting-container-modify .setting-container-details-left {
  text-align: center;
}
.setting-container-modify .setting-container-details-left input:nth-child(1) {
  margin-bottom: 10px;
}
.setting-container-modify .setting-container-details-right {
  text-align: center;
}
.setting-container-modify .setting-container-details-right input:nth-child(1) {
  margin-bottom: 10px;
}

.setting-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 77%;
  margin: auto;
  margin-top: 0;
  color: #fff;
  font-family: "Cavilant";
}
.setting-container .modifySettings {
  background-color: red;
  color: #fff;
  padding: 10px 40px;
  margin-top: 40px;
  cursor: pointer;
}
.setting-container img {
  width: 130px;
  margin: inherit !important;
  margin-top: 50px !important;
}
.setting-container .pseudoSetting {
  font-size: 20px;
  margin-top: 30px;
}
.setting-container .setting-container-details {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-top: 50px;
}
.setting-container .setting-container-details-left p:nth-child(1) {
  margin-bottom: 10px;
}
.setting-container .setting-container-details-right p:nth-child(1) {
  margin-bottom: 10px;
}

/*# sourceMappingURL=style.css.map */
