.admin-container {
  padding: 50px;
  width: 77%;

  h1 {
    font-family: 'Cavilant';
    color: #fff;
    font-size: 20px;
  }

  &-event {
    margin-top: 50px;
  }

  .event-admin-container {
    margin-top: 50px;
  }

  .addEvent {
    background-color: red;
    color: #fff;
    padding: 10px 40px;
    margin-top: 40px;
    cursor: pointer;
  }

  .add-event-container {
    display: none;
  }
}