.app{
  width: 100%;
  height: 100%;
}
.container{
  width: 100%;
  display: flex;
  justify-content: center;
}
.msgContainer{
  width: 75%;
  height: 60vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.chatTitle{
  text-align: center;
  margin: 25px 0 50px 0;
  color: white;
  margin-right: 10px;
  font-family: 'Cavilant';
}

/* user typing */
#isWritting{
  color: white;
  font-style: italic;
}

/* form */
.msgContainer::-webkit-scrollbar {
  width: 0px;
}

.app > form {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
form > input[type="text"]{
  display: inline-block;
  width: 50%;
  height: 35px;
  border: none;
  background-color: #323232;
  border-radius: 5px;
  color: #fff;
  padding-left: 5px;
}
form > input[type="submit"]{
  padding: 9px;
  border: none;
  margin-left: 10px;
}

/* User comes and quit */
.newUser{
  color: white;
  font-style: italic;
}
.quitUser{
  color: white;
  font-style: italic;
}

.usersConnected {
  width: 180px;
  margin-left: 10px;
  color: #fff;
  font-family: 'Cavilant';

  h1 {
    border-bottom: 2px solid red;
    padding-bottom: 5px;
    font-size: 16px;
  }

  .users {
    margin-top: 20px;

    p {
      margin-top: 10px;
    }
  }
}

/* Messages */
.message{
  border: none;
  font-size: 20px;
  padding: 10px;
  max-width: 45%;
  font-family: sans-serif;
  color: #fff;
  margin-top: 5px;
}
.newMessageMe{
  border-right: 1px solid red;
  margin-left: 55%;
  text-align: right;
}
.newMessageAll{
  border-left: 1px solid red;
}
.whisper{
  border-left: 1px solid #fff;
}

/* Messages from databse */
.oldMessages{
  background-color: rgb(204, 211, 211);
  margin-top: 2%;
}
.oldWhispers{
  background-color: rgb(235, 14, 14);
  margin-top: 2%;
}


/* Channels */
.channelList{
  color:white;
  width: 25%;
}
.elementList {
  width: 60%;
  background-color: rgb(131, 131, 131);
  padding: 20px;
  transition: 0.5s;
  cursor: pointer;
}
.elementList:hover {
  
  background-color: rgb(105, 105, 105);
  transition: 0.5s;
  cursor: pointer;
}
.inChannel {
  background-color: rgb(105, 105, 105);
  transition: 0.5s;
}