.setting-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 77%;
  margin: auto;
  margin-top: 0;
  color: #fff;
  font-family: 'Cavilant';

  img {
    width: 130px;
    margin: inherit !important;
    margin-top: 50px !important;
  }

  .pseudoSetting {
    font-size: 20px;
    margin-top: 30px;
  }

  .setting-container-details {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 50px;

    &-left {
      p:nth-child(1) {
        margin-bottom: 10px;
      }
    }

    &-right {
      p:nth-child(1) {
        margin-bottom: 10px;
      }
    }
  }
}