@font-face {
  font-family: 'Cavilant';
  src: url('/client/fonts/Cavilant.otf');
}

* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

@import './Pages/home.scss';
@import './Pages/connect.scss';
@import './Pages/admin.scss';
@import './Pages/settings.scss';
@import './Pages/chat.scss';
@import './Pages/add-event.scss';